
* {
  box-sizing: border-box;
}

body 
{
  padding: 5px;
}
body form
{
  margin-top: 20px;
  
}
form 
{
  background-color: rgb(91, 187, 211);
  padding: 60px 100px;
  box-shadow: 0px 5px 10px black;
}

#nameerror
{
  background-color: red;
  color: white;
}
div.nameerror
{
  position: relative;
  top: 10px;
}
div.error
{
  position:absolute;
  left: 305px;
  top: 309px;
}
#panel_2, #flip2
{
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: rgb(234, 121, 121);
  color: white;
  border: solid 1px rgb(176, 100, 100);
  border-radius: 3px;
}

#panel_2
{
  padding: 20px;
  display: none;
}

.logout_button
{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: rgb(226, 155, 136);
  color: black;
  margin: 5px 2px;
  padding: 12px 25px;
  text-align: center;
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 12px;
  box-shadow: 0 6px #999;
}

#panel, #flip
{
  padding: 5px;
  text-align: center;
  background-color: #2a9d8f;
  border: solid 1px #264653;
}
#panel 
{
  padding: 50px;
  display: none;
}

.button
{
  color: black;
}

.submit
{
  background-color: rgb(1,141,194);
  color: black;
  border-radius: 3px;
  margin: 4px 2px;
  padding: 2px 30px;
}

.reset
{
  background-color: rgb(1,141,194);
  color: black;
  border-radius: 3px;
  margin: 4px 2px;
  padding: 2px 30px;
}
.header 
{
  color: black;
  padding: 30px;
  text-align: left;
  background: rgb(204,254,253);
}
.header h1
{
  font-size: 30px;
}

.header h2
{
  color: rgb(4,21,183);
}

div.line
{
  padding-top: 10px;
  border-bottom: double;
}

div.sticky
{
  position: sticky;
  top: 0;
  padding: 0;
  border: 2px solid rgb(64,41,85);
}

.topnav 
{
  overflow: hidden;
  background-color: rgb(64,41,85);
  box-shadow: 0px 5px 10px black;
}

.topnav a 
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  box-shadow: 0px 5px 10px black;
}

.topnav p
{
  float: right;
  display: block;
  color: rgb(30, 8, 51);
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.delivery_button
{
  background-color: rgb(136, 226, 161);
  color: black;
  border-radius: 3px;
  margin: 4px 2px;
  padding: 6px 30px;
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button:hover
{
  background-color: rgb(247, 41, 41);
  color: white;
}

div.fixed
{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
}

td
{
  background-color: rgb(232, 232, 158);
}

div.middlecolumn
{
  position: relative;
  left: 25%;
  float: center;
  width: 50%;
}

.registrationBox 
{
  background-color: rgb(220,244,243);
  border-left: 15px solid rgb(109,194,195);
  padding: 4px;
  font-size: 20px;
}